/* Reset list styles */
.logo {
  font-size: 1.5rem;
  color: #2e8a99;
  padding: 20px 0px 10px 20px;
  font-weight: 800;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 25px;
}

/* Style for the sidebar-admin ul */
.sidebar-admin ul {
  background-color: #53449f; /* Sidebar background color */
}
.li-icons {
  display: flex;
  align-items: center;
  width: 100%;
}
/* Style for the sidebar-admin li items */

/* Style for the sidebar-admin links */
.sidebar-admin a {
  text-decoration: none;
  color: white; /* Link text color */
  font-size: 16px;
  padding: 10px;
  padding-left: 50px;
  display: block;
  transition: 0.3s; /* Add a smooth transition effect */
  width: 100%;
}

/* Change link color on hover */
.sidebar-admin .li-icons:hover {
  background-color: #fb896b; /* Change the background color on hover */
  color: #fff;
}

.sidebar-admin .li-icons:hover a {
  color: #fff;
}
.li-icons-inner {
  background-color: #8e7cea;
}

/* Style for the sidebar ul */
.sidebar ul {
  background-color: #53449f; /* Sidebar background color */
}
.li-icons {
  display: flex;
  align-items: center;
  width: 100%;
}
/* Style for the sidebar li items */

.sidebar-admin .li-icons a.active {
  color: #fff;
  background-color: #fb896b;
}
