.transfer_card{
    background-color: #ededed;
    width:358px;
    height:177px;
    font-size:.75rem;

}
.spacer{
    display: flex;
    justify-content: space-between;
}
.muted_color{
    color:#918c8c;
}
.text_color{
color:rgb(75, 71, 71);
}

.money_color{
    color:#2e8a99;
    font-weight:600;
}

.bank_card{
    margin:20px;

    background-color:#4fb973;
    width:342px;
    height:196px;
    color:white;
    font-size:0.80rem;
}
.account_text{
font-size:1.25rem;
font-weight:800;
}
.name_text{
    font-weight:600;
}